<!DOCTYPE html>
<h1>Url Shotener</h1>
<form action='/urls' method='POST'>
	<label>Enter URL:</label>
	<br>
	<input type='text' name='long_url'>
	<input type='submit' value='Submit'>
</form>
<br>
<table border='1' width='100%'>
	<tr>
		<th>original:</th>
		<th>shoterned:</th>
		<th>counter:</th>
	</tr>

	<form action='/:short_url' method='POST'>
		<% @listing.each do |t| %>
		<tr>
			<td><%= t.original_url %></td>
			<td>
				<a href='<%= t.original_url %>' target='_blank'>
				<input type='submit' name='short' value='<%= t.short_url %>'/>
				</a>
			</td>
			<td><%= t.click_count %></td>
		</tr>
		<% end %>
	</form>
</table>